$darkB: #242f42;        //顶部head颜色
$lightB: #324157;       //左侧导航条
$blue: #409EFF;
$w: #fff;
$b: #000;

// 背景图片地址和大小
@mixin bis($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

// 圆角
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//css渐变动画
@mixin transition($attr) {
	transition: $attr .3s ease;
	-moz-transition: $attr .3s ease;
	-webkit-transition: $attr .3s ease;
	-o-transition: $attr .3s ease;
}

//文字居中
@mixin setTextMiddle($height) {
    height: $height;
		line-height: $height;
}

//绝对定位
@mixin setPos($w , $h) {
    position: absolute;
    width: $w;
    height: $h;
}

//横向flex布局
@mixin flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	box-sizing: border-box;
	min-width: 0;
}


//绝对定位 居中
@mixin setPosCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
